.container {
  background-color: black;
  width: 100%;
  height: 90vh;
  margin-top: 2rem;
}

.nav {
  background-color: rgba(2, 2, 2, 0.774);
  font-size: large;
  color: white;
  list-style-type: none;
  float: left;
  height: 90vh;
  margin-top: auto;
  width: 14rem;
}

.nav li a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: white;
}

.nav li a:hover {
  color: rgba(199, 183, 91, 0.993);
}

.nav hr {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  margin-left: 0.5rem;
}

.nav .first, .nav .second, .nav .brand {
  font-size: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2.6rem;
  padding: 1rem;
}

.nav .brand {
  font-size: 2em;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  font-size: large;
  color: white;
  list-style-type: none;
}

.icons li a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: white;
}

.icons li a:hover {
  color: rgba(199, 183, 91, 0.993);
}

.icons hr {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  margin-left: 0.5rem;
}

.icons li {
  margin: auto 1rem;
}

.pages, .products, .cart-products, .about, .findstore, .cartItems {
  position: relative;
  width: 70%;
  height: 80vh;
  left: 5rem;
  top: 0rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15rem;
  border-color: black;
  border-style: solid 1px;
  border-radius: 20px;
}

@media screen and (max-width: 1024) {
  .pages, .products, .cart-products, .about, .findstore, .cartItems {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-flexbox;
    margin: 80%;
  }
}

@media screen and (max-width: 768px) {
  .icons {
    display: none;
  }
  .nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pages, .products, .cart-products, .about, .findstore, .cartItems {
    font-size: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}

.item-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 500px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  color: black;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.prev.prev,
.next.prev {
  left: 0;
}

.prev.next,
.next.next {
  right: 0;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

article.activeSlide {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

article.lastSlide {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

article.nextSlide {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.products, .cart-products {
  overflow-y: scroll;
  overflow-x: scroll;
}

.products button, .cart-products button {
  cursor: pointer;
}

.products, .cart-products {
  display: -ms-grid;
  display: grid;
}

.products-image, .cart {
  width: 90vw;
  margin: 0 auto;
  max-width: 90vh;
  display: -ms-grid;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.products-image img, .cart img {
  width: 30rem;
}

h4, footer, h5 {
  color: white;
  position: absolute;
  right: 5rem;
  margin: -35rem auto;
  max-width: 10rem;
}

footer, h5 {
  color: #b81e1e;
  margin: 0rem auto;
  font-weight: bolder;
  font-size: larger;
}

h5 {
  color: white;
  margin: -41rem auto;
  left: 47.5rem;
  font-size: 2rem;
}

.about {
  background-color: black;
}

.about h3 {
  font-size: 2rem;
  color: white;
  margin-left: 5rem;
  margin-top: 5rem;
}

.question, .chat, .socialMedia, .mail, .number {
  color: white;
  font-size: 1rem;
  margin-left: -16.2rem;
  margin-top: 10rem;
}

.question span, .chat span, .socialMedia span, .mail span, .number span {
  font-size: x-small;
}

.chat, .socialMedia, .mail, .number {
  position: fixed;
  margin-left: 0rem;
  margin-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.chat .icon-size, .socialMedia .icon-size, .mail .icon-size, .number .icon-size {
  font-size: 2rem;
  color: white;
}

.chat li, .socialMedia li, .mail li, .number li {
  margin: 3rem;
  list-style-type: none;
}

.chat button, .socialMedia button, .mail button, .number button {
  font-size: 1rem;
  margin-top: 0.5rem;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  color: white;
}

.chat:hover, .socialMedia:hover, .mail:hover, .number:hover {
  color: white;
}

.socialMedia {
  margin-left: 25rem;
}

.mail, .number {
  margin-top: 22rem;
}

.number {
  margin-left: 25rem;
}

a {
  font-size: large;
  color: white;
  list-style-type: none;
}

a li a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: white;
}

a li a:hover {
  color: rgba(199, 183, 91, 0.993);
}

a hr {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  margin-left: 0.5rem;
}

.incrs, .decrs {
  font-weight: bolder;
  font-size: larger;
  background-color: transparent;
  border: transparent;
  color: white;
  margin-top: auto 0.7rem;
}

.count {
  font-weight: bolder;
  color: white;
  font-size: larger;
}

.titleBox {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1.5rem;
  margin-left: -2rem;
}

.findstore, .cartItems {
  background-color: red;
}

.storeTitle, .subTitle {
  color: white;
  margin-left: 5rem;
  margin-top: 5rem;
  float: left;
  display: inline;
  font-size: large;
  color: white;
  list-style-type: none;
}

.storeTitle li a, .subTitle li a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: white;
}

.storeTitle li a:hover, .subTitle li a:hover {
  color: rgba(199, 183, 91, 0.993);
}

.storeTitle hr, .subTitle hr {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  margin-left: 0.5rem;
}

.subTitle {
  margin-left: -6.9rem;
  margin-top: 8rem;
}

.cartItems {
  font-size: large;
  color: white;
  list-style-type: none;
}

.cartItems li a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
  color: white;
}

.cartItems li a:hover {
  color: rgba(199, 183, 91, 0.993);
}

.cartItems hr {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  margin-left: 0.5rem;
}

.qty {
  font-size: 100rem;
}

.like {
  color: white;
  font-size: 5rem;
  margin-left: 5rem;
}

.cart-products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 5fr 1fr;
      grid-template-columns: 1fr 2fr 5fr 1fr;
}

.cart-products img {
  margin-top: 5rem;
  height: 15rem;
  width: auto;
  display: -ms-grid;
  display: grid;
}

.total-price, .buttons {
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -1.8rem;
}

.total-price span, .buttons span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  margin-top: 0.2rem;
  margin-right: -7.5rem;
}

.amount {
  color: white;
  float: right;
  display: inline-block;
  margin-right: -18rem;
}

.buttons {
  margin-left: -0.5rem;
  height: 2rem;
  width: auto;
}

.buttons .btn {
  background-color: transparent;
  border-color: transparent;
  color: red;
  font-size: 1rem;
  margin-top: -1rem;
}

.remove-all {
  margin-top: 3rem;
  border-radius: 20px;
  font-family: monospace;
  background-color: white;
}

.btn {
  border-radius: 20px;
  font-family: monospace;
  background-color: white;
}
/*# sourceMappingURL=App.css.map */